.new-story-container {
  background: #fff;
  /* background: #006d77; */
  width: 50rem;
  height: 100vh;
  margin: auto;
  padding-top: 4rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

/* .new-story-container h1,
.new-story-container .ant-form-item-label label {
  color: #fff;
} */
