.new-story-container {
  background: #fff;
  /* background: #006d77; */
  width: 50rem;
  height: 100vh;
  margin: auto;
  padding-top: 1rem;
  /* display: grid; */
  flex-direction: column;
  /* justify-content: center; */
  /* align-items: center; */
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.new-story-container h1 {
  margin: auto;
  width: fit-content;
  color: #006d77;

}

.new-story-container form {
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 40rem;
  height: 30rem;
  /* margin: auto; */
  margin-top: 1rem;
  padding-right: 2rem;
  /* background: #000; */
}


.new-story-container label {
  color: #006d77;
  font-size: large;
  /* font-weight: bold; */
}

.ant-select-selector,
.new-story-container input,
.new-story-container textarea {
  width: 20rem;
  box-shadow: none;
  border: 1px solid #d9d9d9;
  margin: 0 1rem 2rem 0;
  /* background: #000; */
}

.new-story-container input:focus-visible,
textarea:focus-visible,input:hover, textarea:hover {
  outline:1px solid #40a9ff;
  box-shadow: #40a9ff;
}

.category, .description {
  display: flex;
}

.ant-image .ant-image-img,
.ant-image-mask {
  height: 17rem;
  width: 15rem;
  /* border: none; */
  border-radius: 0.5em;
}

.new-story-container button {
  width: 6rem;
  margin-top: 1rem;
  color: #fff;
  background: #006d77;
  border-radius: 0.5em;
  align-self: center;
  /* border:2px solid #fff; */
}

.select {
  /* background: #000; */
  /* border: none; */
  width: 20rem;
  height: 5rem;
  /* overflow: hidden; */
}
