.hero {
  height: 70vh;
  width: 73vw;
  /* background: #83C5BE; */
  display: flex;
  border-radius: 2em;
  /* border: 7px dashed #006D77; */
  align-items: center;
  margin: auto;
  background-image: linear-gradient(to right top, #006d77, #2f8288, #4d989a, #68aeac, #83c5be);
}

.hero > p {
  margin-right: 2rem;
  width: 30vw;
  text-align: center;
  align-self: center;
  /* font-size: large; */
  font: italic large bold;
  color: #fff;
  /* background: rgb(220, 177, 177); */
  word-wrap: break-word;
}

.hero img {
  width: 40vw;
  background: #fff;
  /* height: 0vh; */
  clip-path: polygon(25% 0%, 100% 0%, 100% 100%, 25% 100%, 0% 50%);
  /* border: 2px solid black; */
}